<!-- Main wrapper -->
<div class="wrapper">
<!-- Navbar -->
<%= render 'shared/navbar' %>
  <!-- Body container -->
  <body>
      <!-- Hero fullwidth -->
      <section id="section1" class="home">
          <%= render 'shared/banner' %>
      </section>
      <!-- End of hero -->

    <!-- Container for content  -->
    <div>
      <section id="section2" class="about">
        <%= render 'shared/content' %>
      </section>

      <section id="section3" class="card-team">
        <%= render 'shared/preview' %>
      </section>



    </div><!-- End of container for content -->

    <!-- Footer -->
    <footer>
      <%= render 'shared/footer' %>
    </footer>
    <!-- End of footer -->
  </body>
  <!-- End of body -->
</div>
<!-- End of main wrapper -->
