<!-- Main wrapper -->
<div class="wrapper">
<!-- Navbar -->
<%= render 'shared/navbar' %>
  <!-- Body container -->
  <body>

    <div class="container">
    <div class="row profile">
		<div class="col-md-3 profile-sidebar">
			<div >
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
          <%= image_tag("user1.png", :class => "img-responsive", :alt => "") %>
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name label-about">
						<%= current_user.username.capitalize %>
					</div>
					<div class="profile-usertitle-job">
						<%= current_user.full_name %>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm" >Edit Profile</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">

						</li>
						<li>
              <p class="label-about">About you:</p>
              <p class="label-about-desc"><%= current_user.biography%></p>
						</li>
						<li>
              <p class="label-about">Address:</p>
              <p class="label-about-desc"><%= current_user.street1%>
              <%= current_user.street2%></br>
              <%= current_user.zip%>
              <%= current_user.city%></p>
						</li>
						<li>

						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
      <div class="row">
        <!-- Cards -------------------------------->
      <% @user.event_participants.each do |participant| %>
          <div class="col-sm-6 col-md-4">

          <div class="thumbnail">
            <%= image_tag("sporting.jpg", :class => "img-cards", :alt => "") %>
          <div class="caption">
            <h4><%= participant.event.name.capitalize %></h4>

            <p class="label-about-desc-opos">Date: <%= participant.event.date%> at <%=participant.event.time.strftime("%H:%M")%></p>
            <p class="label-about-desc-opo">Price: <%= participant.event.price%> €</p>
            <%= link_to 'Read More', "/event/"+participant.event.id.to_s %>
            </div>
          </div>
        </div>

          <% end %>
      </div>
		</div>
	</div>
</div>
</body>
</div>

<footer>
  <%= render 'shared/footer' %>
</footer>
