<!-- Main wrapper -->
<div class="wrapper">
<!-- Navbar -->
<%= render 'shared/navbar' %>
  <!-- Body container -->
  <body>

    <div class="container">
    <div class="row profile">
		<div class="col-md-3 profile-sidebar">
			<div >
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
          <%= image_tag("user1.png", :class => "img-responsive", :alt => "") %>
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name label-about">
						<%= current_user.username.capitalize %>
					</div>
					<div class="profile-usertitle-job">
						<%= current_user.full_name %>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-success btn-sm button-prof-edit" %>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<% if current_user.biography != nil %>
              <p class="label-about">About you :</p>
              <p class="label-about-desc"><%= current_user.biography%></p>
					<% end %>
					<% if current_user.street1 != nil || current_user.street2 != nil || current_user.zip != nil || current_user.city != nil %>
              <p class="label-about">Address :</p>
              <p class="label-about-desc"><%= current_user.street1%>
              <%= current_user.street2%><br>
              <%= current_user.zip%>
              <%= current_user.city%></p>
					<% end %>
			
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
			<h4 class="profile-you-are">You are participating to the next Events :</h4>
      <div class="row">
        <!-- Cards -------------------------------->
      	<% @user.event_participants.each do |participant| %>
          <div class="col-sm-6 col-md-4 preview-image-left">
						<div class="overlay">
                <h3 class="text-cards-profil"><%= link_to 'Read More', "/event/"+participant.event.id.to_s, class: "stop-this-style" %></h3>
            </div>	
						<div class="thumbnail">
							<%= image_tag("sporting.jpg", :class => "img-cards", :alt => "") %>
							<div class="caption">
								<h4><%= participant.event.name.capitalize %></h4>

								<p class="label-about-desc-opos">Date: <%= participant.event.date%> at <%=participant.event.time.strftime("%H:%M")%></p>
								<p class="label-about-desc-opo">Price: <%= participant.event.price%> €</p>
							</div>
						</div>
					</div>
							
        <% end %>
      </div>
		</div>
	</div>
</div>
</body>
</div>

<footer>
  <%= render 'shared/footer' %>
</footer>
