<!-- Content -->
  <div class="container">

    <div class="header">
      <h2>The most recent meet ups</h2>
      <p>Browse to find your next training session</p>
    </div>

      <section class="events-list-scroll">
          <div class="scroll-wrapper">
              <div class="scroll-container">
                  <div class="events-container-scroll">
                      <% @events.each do |event| %>
                      <div class="events-grid-scroll preview-image-left text-center">
                        <div class="overlay">
                            <h3 class="text-cards-profil over-more-down"><%= link_to 'Read More', "/event/"+event.id.to_s, class: "stop-this-style" %></h3>
                        </div>	
                          <div class="events-element-scroll">
                              <div class="events-image-scroll spacing-event-disp">
                                <%= image_tag 'coupon.jpg', class: "picture-activity-scroll" %>
                              </div>
                              <div class="events-content-scroll">
                                  <time class="events-period-scroll">
                                      <%= event.date.strftime("%a, %d %b") %> at <%= event.time.strftime("%H:%M") %>
                                  </time>
                                  <div class="events-title-scroll"><%= event.name.capitalize %></div>
                                  <div class="events-description-scroll">
                                      <p><%= event.location.place_name %> <%= event.location.city %></p>
                                      <p><%= event.activity.activity_name %> - <%= event.nb_participant %> people</p>
                                      <p>Level: <%= event.level %> - Price: <%= number_to_currency(event.price) %></p>
                                  </div>
                                  <div class="events-footer-scroll">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <% end %>
                  </div>
              </div>
          </div>
      </section>
  </div>
