<!-- Content -->
  <div class="container">

    <div class="header">
        <h2>Responsive Image Grid</h2>
        <p>Resize the browser window to see the responsive effect.</p>
    </div>

      <section class="events-list-scroll">
          <div class="scroll-wrapper">
              <div class="scroll-container">
                  <div class="events-container-scroll">
                      <% @events.each do |event| %>
                      <div class="events-grid-scroll">
                          <div class="events-element-scroll">
                              <div class="events-image-scroll">
                                <%= image_tag 'coupon.jpg', class: "picture-activity-scroll" %>
                              </div>
                              <div class="events-content-scroll">
                                  <time class="events-period-scroll">
                                      <%= event.date.strftime("%a, %d %b") %> AT <%= event.time.strftime("%H:%M") %>
                                  </time>
                                  <div class="events-title-scroll"><%= event.name %></div>
                                  <div class="events-description-scroll">
                                      <p><%= event.location.place_name %> <%= event.location.city %></p>
                                      <p><%= event.activity.activity_name %> - <%= event.nb_participant %> people</p>
                                      <p>Level: <%= event.level %> - Price: <%= number_to_currency(event.price) %></p>
                                  </div>
                                  <div class="events-footer-scroll">
                                      <%= link_to 'Read More', "/event/"+event.id.to_s %>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <% end %>
                  </div>
              </div>
          </div>
      </section>
  </div>
