<nav id ="navbar" class="navbar navbar-expand-lg navbar-dark">
  <%= link_to image_tag('j2t-logo-white.png'), root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "JUST2TRAIN", root_path, class: "nav-link" %>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">EVENTS</a>
      </li>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <% if user_signed_in? %>
        <div class="nav-link">
          <li class="nav-item">
            <%= link_to "CREATE A MEET UP", edit_user_registration_path %>
          </li>
        </div>

        <div class="nav-link">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username.upcase %><span class="caret"></span></a>
              <ul class="dropdown-menu">

                <li class="nav-item">
                  <%= link_to "PROFIL", edit_user_registration_path %>
                </li>

                <li class="nav-item">
                  <%= link_to "EDIT ACOUNT", edit_user_registration_path %>
                </li>

                <li class="nav-item">
                  <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
          </li>
        </ul>
      </div>
      <% else %>
        <div class="nav-link">
            <li class="nav-item">
              <%= link_to "SIGN IN", new_user_session_path %>
            </li>
        </div>

        <div class="nav-link">
          <li class="nav-item">
              <%= link_to "SIGN UP", new_user_registration_path %>
            </li>
          </div>
      <% end %>



      </ul>
      </div>
    </div>
</nav>
