<!-- Preview <images></images> -->
<div class="container">
    <div class="preview-grid">
        <div class="header">
            <h2>Responsive Image Grid</h2>
            <p>Resize the browser window to see the responsive effect.</p>
        </div>

        <div class="row">
            <div class="column"><!-- Column left -->
                <div class="preview-image-left" id="cyclism">
                    <%= image_tag 'cyclism.jpg' %>
                </div>
                <div class="preview-image-left" id="foot">
                    <%= image_tag 'foot.jpg' %>
                </div>
                <div class="preview-image-left">
                    <%= image_tag 'running.jpg' %>
                </div>
            </div>

            <div class="column"><!-- Column right -->

                <div class="preview-image-right">
                    <%= image_tag 'basket.jpg' %>
                </div>

                <div class="preview-image-right">
                    <%= image_tag 'swiming.png' %>
                </div>
            </div>
        </div>
    </div>
</div>
