<!-- Preview <images></images> -->
<div class="container">
    <div class="preview-grid">
        <div class="header">
            <h2>Connect with people, sport together !</h2>
            <p>Just2Train helps you to connect with people around the world. Start now! </p>
        </div>

        <div class="row">
            <div class="column"><!-- Column left -->
                <div class="preview-image-left" id="cyclism">
                    <%= image_tag 'cyclism.jpg' %>
                    <div class="overlay">
                        <%= link_to cyclism_path, class:"text-cards" do %><i class="fas fa-bicycle"> CYCLISM </i><%end%>
                    </div>
                </div>
                <div class="preview-image-left" id="foot">
                    <%= image_tag 'foot.jpg' %>
                    <div class="overlay">
                        <%= link_to football_path, class:"text-cards" do %><i class="fas fa-futbol"> FOOTBALL </i><%end%>
                    </div>
                </div>
                <div class="preview-image-left">
                    <%= image_tag 'running.jpg' %>
                    <div class="overlay">
                      <%= link_to running_path, class:"text-cards" do %><i class="fas fa-shoe-prints"> RUNNING </i><%end%>
                    </div>
                </div>
            </div>

            <div class="column"><!-- Column right -->

                <div class="preview-image-right">
                    <%= image_tag 'basket.jpg' %>
                    <div class="overlay">
                        <%= link_to basketball_path, class:"text-cards" do %><i class="fas fa-basketball-ball"> BASKETBALL</i><%end%>
                    </div>
                </div>

                <div class="preview-image-right">
                    <%= image_tag 'swiming.png' %>
                    <div class="overlay">
                        <%= link_to events_path, class:"text-cards" do %><i class="fas fa-angle-double-right"> AND MANY OTHERS</i><%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
