<!-- Preview <images></images> -->
<div class="container">
    <div class="preview-grid">
        <div class="header">
            <h2>Responsive Image Grid</h2>
            <p>Resize the browser window to see the responsive effect.</p>
        </div>

        <div class="row">
            <div class="column"><!-- Column left -->
                <div class="preview-image-left" id="cyclism">
                    <%= image_tag 'cyclism.jpg' %>
                    <div class="overlay">
                        <h3 class="text-cards">B I K I N G</h3>
                    </div>
                </div>
                <div class="preview-image-left" id="foot">
                    <%= image_tag 'foot.jpg' %>
                    <div class="overlay">
                        <h3 class="text-cards">F O O T B A L L</h3>
                    </div>
                </div>
                <div class="preview-image-left">
                    <%= image_tag 'running.jpg' %>
                    <div class="overlay">
                        <h3 class="text-cards">R U N N I N G</h3>
                    </div>
                </div>
            </div>

            <div class="column"><!-- Column right -->

                <div class="preview-image-right">
                    <%= image_tag 'basket.jpg' %>
                    <div class="overlay">
                        <h3 class="text-cards">B A S K E T B A L L </h3>
                    </div>
                </div>

                <div class="preview-image-right">
                    <%= image_tag 'swiming.png' %>
                    <div class="overlay">
                        <h3 class="text-cards">AND MANY OTHERS . . . </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
