<%= render 'shared/navbar' %>

<div class="event-wrapper">
    <div class="event-container">
        <div class="event-image">
            <%= image_tag 'coupon.jpg', class: "image-event" %>
        </div>

        <div class="event-info">
            <div class="event-period">
                <span><%= @event.time.strftime("%b") %> </span>
                <span><%= @event.time.strftime("%d") %></span>
            </div>
            <div class="event-detail">
                <h1><%= @event.name %></h1>
                <div class="event-org">
                    <span><%= @event.activity.activity_name %> - <%= @event.nb_participant %> people</span>
                </div>
            </div>
            <div class="register-button">
                <%= link_to 'Count me in', event_participants_path(:event_id => @event.id), class: "btn btn-block btn-dark", method: :post %>
            </div>
            <div class="event-date">
                <span><%= @event.date.strftime("%A") %> at <%= @event.time.strftime("%H:%M") %></span>
            </div>
            <div class="event-location">
                <span><%= @event.location.place_name %></span>
                <span><%= @event.location.street1 %> <%= @event.location.street2 %>, <%= @event.location.zip %> <%= @event.location.city %></span>
            </div>
        </div>

        <div class="event-description">

        </div>

    </div>
</div>

<%= render 'shared/footer' %>
