<!-- Main wrapper -->
<div class="wrapper">
<!-- Navbar -->
<%= render 'shared/navbar' %>
  <!-- Body container -->
  <body>
    <!-- Small generic banner -->
    <div class="small-banner jumbotron-fluid">
      <div class="container">
        <h2 class="display-4">Events&nbsp;</h2>
        <p class="lead">Find your training session</p>
      </div>
    </div><!-- Body container -->

          <div class="container">
            <div class="event-wrapper">
                <div class="event-period">
                    <span><%= @event.date.strftime("%A %b %e %Y") %> </span>
                </div>
                <div class="event-title-div">
                    <h2 class="event-title"><%= @event.name.capitalize %></h2>
                </div>

                <div class="register-button button-events-div">
                    <%= link_to ' Count Me In ', event_participants_path(:event_id => @event.id), class: "btn btn-dark button-events", method: :post %>
                    <%= link_to 'Modify event', edit_location_path(@event.location), class: "btn btn-warning " %>
                </div>



                    <div class="edit-link">
                        <%= link_to 'Modify event', edit_location_path(@event.location), class: "btn btn-primary" %>
                    </div>
                <div class="row">

                    <div class="col-md-3">

                        <div class="event-detail">
                            <div class="event-activity">
                                Activity :
                            </div>
                            <div class="event-bright-element">
                                <%= @event.activity.activity_name %>
                            </div>
                            <div class="event-bright-element">
                                <%= @event.nb_participant %>
                            </div>
                            <div class="event-participant-number-need">
                                 people needed
                            </div>
                            <br>
                            <div class="event-participant-number-got">
                                Already
                                <div class="event-bright-element">
                                <%= @event.event_participants.size %>
                                </div>
                                participants
                            </div>
                        </div>

                        <div class="event-date-div">
                            <div class="event-date">
                                <div class="event-day-calendar">
                                    <%= @event.date.strftime("%a") %>
                                </div>
                                <div class="event-at">
                                    AT
                                </div>
                                <div>
                                    <%= @event.time.strftime("%H:%M") %>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">


                            <div class="event-location">
                                <div class="event-location-name">
                                    <%= @event.location.place_name %></span>
                                </div>
                                <div class="event-location-adress">
                                    <%= @event.location.street1 %> <%= @event.location.street2 %>
                                </div>
                                <div class="event-location-zip">
                                    <%= @event.location.zip %>, <%= @event.location.city %></span>
                                </div>
                            </div>
                            <div id="mapid">
                            <script type="text/javascript">
                                var mymap = L.map('mapid').setView(['<%= @event.location.latitude %>', '<%= @event.location.longitude %>'], 13);
                                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=<%= ENV['MAPBOX'] %>', {
                                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                                maxZoom: 18,
                                id: 'mapbox.streets',
                            }).addTo(mymap);
                            var marker = L.marker(['<%= @event.location.latitude %>', '<%= @event.location.longitude %>']).addTo(mymap);
                            </script>
                            </div>

                    </div>


                    <div class="col-md-3">
                    <div class='participant-box'>
                        <div class="participant-disp">
                            Participants :
                        </div>
                        <% @event.event_participants.each do |participant| %>
                            <% if participant.user.id != current_user.id %>
                                <div class='participant-person'>
                                    <div class="participant-name">
                                        <%= participant.user.username %>
                                    </div>
                                    <div class="register-button">
                                        <%= link_to 'Message', conversations_path(sender_id: current_user.id, recipient_id: participant.id), class: "btn btn-dark participant-msg", method: 'post'%>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </body>

</div> <!--End of wrapper -->
<footer>
    <%= render 'shared/footer' %>
</footer>
