<!-- Main wrapper -->
<div class="wrapper">
<!-- Navbar -->
<%= render 'shared/navbar' %>
  <!-- Body container -->
  <body>
      <div id="container-body">
        <div class="form-container">
          <div class="title-container">
            <h2>Create a Meet Up</h2>
              <div>
              <%= form_with model: @location do |l| %>

                <%= l.fields_for :events do |e| %>

                <div class="container-name">
                <div class="field " label>
                  <%= e.text_field :name, placeholder: "Name of event *" %>
                  <%= e.collection_select :activity_id, Activity.order(:activity_name), :id, :activity_name, prompt: "Select an activity *" %><br />
                </div>

                <div class="field two-inline">
                  <%= e.text_field :nb_participant, placeholder: "N of participants"%>
                  <%= e.text_field :price, placeholder: "Price" %>
                </div>

                <div class="field two-inline">
                  <%= e.date_field :date %>
                  <%= e.time_field :time %>
                </div>
                <div>
                  <%= e.text_field :level, placeholder: "Level of practice" %>
                </div>
                <% end %>

                <div class="field">
                  <p> Address </p>
                    <input type="text" placeholder="Address" id="autocomplete_address"><br />
                      <%= l.text_field :category, placeholder: "Location Type (indoor, outdoor, field, ...)" %>
                      <%= l.text_field :place_name, placeholder: "Location Name" %><br />
                      <%= l.text_field :street1, placeholder: "Address Line 1 *", id: :route %>
                      <%= l.text_field :street2, placeholder: "Address Line 2" %><br />
                  <div class="field two-inline">
                    <%= l.text_field :city, placeholder: "City *", id: :locality %>
                    <%= l.text_field :zip, placeholder: "Postal Code *", id: :postal_code %><br />
                  </div>
                    <%= l.text_field :latitude, placeholder: "Latitude", id: :latitude, type: "hidden" %>
                    <%= l.text_field :longitude, placeholder: "Longitude", id: :longitude, type: "hidden" %>
                  <div class= "actions">
                    <%= l.submit "Create", :class=> "btn-primary" %>
                  </div>
                <% end %>
                  </div>
                <%= link_to "Go back", :back %>

              </div>


            </div>
          </div>
        </div>
      </div>
    </body>
</div> <!--End of wrapper -->

<!-- Footer -->
<footer>
  <%= render 'shared/footer' %>
</footer>
